

# Allow scripts and input_files directories and their contents
!scripts/
!input_files/
!scripts/**
!input_files/**

# Allow boltz_inputs and outputs directories (but not their contents)
!boltz_inputs/
!outputs/
!outputs/cb1r/bolts_tldr_cb1r
!outputs/cb1r/bolts_tldr_cb1r/** 
# Ignore all files within boltz_inputs and outputs


# Ignore all .log files
*.log
*.json
*.csv
*.yaml
*pyc
*a3m
*tar.gz
*pkl
*m8
*msa.sh
*npz
*cif
